<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>게시판 수정</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/board.css}">
	<script th:inline="javascript">
		window.onload = function () {
            document.getElementById('mbtn').onclick = function () {
                if (document.mfrm.subject.value == '') {
                    alert('제목을 입력하셔야 합니다.');
                    return false;
                }
                if (document.mfrm.password.value == '') {
                    alert('비밀번호를 입력하셔야 합니다.');
                    return false;
                }
                document.mfrm.submit();
            };
        };
	</script>
</head>

<body>
<div class="con_title">
	<h3>게시판</h3>
	<p>HOME &gt; 게시판 &gt; <strong>게시판</strong></p>
</div>

<div class="con_txt">
	<form action="/mybatis/modify" method="post" name="mfrm" th:object="${board}">
		<input type="hidden" name="seq" th:value="*{seq}" />
		<div class="contents_sub">
			<!--게시판-->
			<div class="board_write">
				<table>
					<tr>
						<th class="top">글쓴이</th>
						<td class="top">
							<input type="text" name="writer" th:value="*{writer}"
								   class="board_view_input_mail" maxlength="5" readonly/>
						</td>
					</tr>
					<tr>
						<th>제목</th>
						<td>
							<input type="text" name="subject" th:value="*{subject}"
								   class="board_view_input" />
						</td>
					</tr>
					<tr>
						<th>비밀번호</th>
						<td>
							<input type="password" name="password" value=""
								   class="board_view_input_mail"/>
						</td>
					</tr>
					<tr>
						<th>내용</th>
						<td>
                            <textarea name="content" class="board_editor_area"
									  th:text="*{content}"></textarea>
						</td>
					</tr>
					<tr>
						<th>이메일</th>
						<td>
							<!-- 이메일 처리를 위한 Thymeleaf 변수 설정 -->
							<div th:with="emailParts=${T(java.util.Arrays).asList(#strings.isEmpty(board.mail) ?
                                                     new String[]{'', ''} : board.mail.split('@'))}">
								<input type="text" name="mail1"
									   th:value="${emailParts[0]}" class="board_view_input_mail"/> @
								<input type="text" name="mail2"
									   th:value="${emailParts.size() > 1 ? emailParts[1] : ''}"
									   class="board_view_input_mail"/>
							</div>
						</td>
					</tr>
				</table>
			</div>

			<div class="btn_area">
				<div class="align_left">
					<input type="button" value="목록" class="btn_list btn_txt02"
						   style="cursor: pointer;"
						   th:onclick="'location.href=\'/mybatis/list\''"/>
					<input type="button" value="보기" class="btn_list btn_txt02"
						   style="cursor: pointer;"
						   th:onclick="'location.href=\'/mybatis/view?seq=' + *{seq} + '\''"/>
				</div>
				<div class="align_right">
					<input type="button" id="mbtn" value="수정"
						   class="btn_write btn_txt01" style="cursor: pointer;" />
				</div>
			</div>
			<!--//게시판-->
		</div>
	</form>
</div>
<!-- 하단 디자인 -->

</body>
</html>