<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gugudan</title>
</head>
<body>
<div>
    <h1 th:text="|${dan}단 구구단|">구구단</h1>

    <ul class="gugudan-list">
        <li class="gugudan-item" th:each="num : ${#numbers.sequence(1, 9)}">
                <span th:text="|${dan} × ${num} = ${dan * num}|">
                    2 × 1 = 2
                </span>
        </li>
    </ul>
</div>
</body>
</html>